@import "@/styles/mixin"
.card
    box-sizing: content-box
    max-width: 284px
    padding: 26px 30px
    border-radius: 15px
    display: flex
    flex-direction: column
    gap: 13px
    background: var(--white, #FFF)
    box-shadow: 0 0 10px 0 #DEEAFF
    &Header
        min-width: max-content
        display: flex
        justify-content: space-between
        gap: 16px
        height: 54px
        &Title
            width: 220px
            @include title
            display: block
    &Main
        display: flex
        flex-direction: column
        gap: 15px
        &Image
            position: relative
            height: 160px
            @media screen and (min-height: 2533px) and (max-height: 2796px)
                height: 260px
            @media screen and (min-height: 2437px) and (max-height: 2532px)
                height: 230px
            @media screen and (min-height: 400px) and (max-height: 2436px)
                height: 210px
            display: flex
            align-items: center
            img
                height: 100%
                width: auto
                object-fit: contain
        &Colors
            display: flex
            gap: 10px
            align-items: flex-start
            span
                @include LightText
                padding-bottom: 0
            &List
                gap: 0 15px
                display: flex
                flex-wrap: wrap
    &Footer
        display: flex
        flex-direction: column
        gap: 19px
        &Memory
            @include LightText
            display: flex
            gap: 10px
            align-items: center
            &List
                gap: 10px
                display: flex
        &PriceBox
            display: flex
            justify-content: space-between
            align-items: center
            span
                color: $black
                font-family: MontSemiBold, sans-serif
                font-size: 17px
                line-height: normal
            &Btn
                @include button

