@import "fonts"
@import "reset"
@import 'mixin'
main
    min-height: 100vh
    min-width: 100vw
    position: relative
    padding-bottom: 85px
    background-color: #F7FAFF
.container_content
    max-width: 100%
    height: auto
    position: relative
    z-index: 1
.container
    padding: 16px 20px 0
    width: 100vw
    max-width: 490px
.titleHevy
    font-family: MontBold,sans-serif
    font-size: 24px
    color: $black
    span
        font-family: MontSemiBold,sans-serif
        font-size: 17px
.active_menu
    outline:  1px solid var(--accent, #4891FF)






